$bg-color: #EEF8F4;
$font-color: #656870;
$color1: rgba(238, 248, 244, 0.75);
$color2: rgba(192, 192, 212, 0.25);
$color3: rgba(250, 255, 255, 0.5);

*  {
	margin: 0;
	padding: 0;	
}

li {
	list-style: none;
}

body {
	background-color: $bg-color;
	background-image: url("img/Fondo-Portada.png");
	background-size: auto;
	background-attachment: fixed;
	color: $font-color;
}
#navbar {
	z-index: 10;
	list-style-type: none;
	background-color: #000000;
	clear: both;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	font-size: 90%;
	a {
		float: left;
		padding: 20px 3%;
		display: block;
		color: white;
		text-align: center;
	}
	a:hover {
		background-color: #999E9A;
	}
}

#home {
	background-image: url("img/Fondo-Portada.png");
	background-size: cover;
	font-family: 'Oswald', sans-serif;
	height: 100vh;
	text-align: center;
	h1 {
		font-size: 2.5em;
		margin: 0;
		padding-top: 50vh;
	}
}

.section {
	border-radius: 10px;
	margin: 0 0 0 0;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	h2 {
		font-family: 'Oswald', sans-serif;
		text-align: center;
	}
}

#about {
	background-color: $color1;
	text-align: justify;
	.wrapper {
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 20px;
			max-width: 250px;
		img {
			border-radius: 500px;
		}
	}
	p {
		font-family: 'Titillium Web', sans-serif;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

#skills {
	background-color: $color2;
	padding-bottom: 5px;
	ul {
		li {
			max-width: 100px;
			min-width: 30px;
			margin: 0 auto;
			margin-top: 5px;
			margin-bottom: 5px;
			h5 {
				display: none;
			}
		}
	}
}

#portfolio {
	background-color: $color3;
	margin-bottom: 25px;
	padding-bottom: 25px;
	li {
		background-color: $color2;
		h5 {
			font-family: 'Oswald', sans-serif;
			font-size: 130%;
		}
		p {
			font-family: 'Titillium Web', sans-serif;
			font-size: 15px;
		}
		img {
			display: none;
			overflow: hidden;
		}
	}
}

@media only screen and (min-width: 768px) {
	#navbar {
		font-size: 100%;
	}
}

@media only screen and (min-width: 580px) {
	#home {
		h1 {
			font-size: 45px;
		}
	}
}